.CategoryBar {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  background-color: whitesmoke;
  justify-content: center;
  z-index: 100;
  position: fixed;
  width: 100%;
  margin: -140px 0 0 0; /* Adjusted to overlap the header  do it other better way????*/
}

.CategoryItem {
  background-color: #f01911;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.CategoryItem:hover {
  background-color: #b3d8fd;
}
