.Header {
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f01911;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box; /* stays inside this box*/
  z-index: 90;
  font-size: 25px;
}

.Logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.SearchBar {
  flex-grow: 1;
  margin: 0 20px;
}

.SearchBar input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: none;
}

.LoginBtn {
  background-color: white;
  color: #f01911;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  
}
